/* src/styles/global.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Tutaj definiujemy TWOJE unikalne kolory z briefu */
  --color-brand-dark: #1f2937;
  --color-brand-signal: #e63946;
  --color-brand-light: #f9fafb;
  --color-brand-white: #ffffff;

  /* Nowoczesne, geometryczne czcionki */
  --font-sans: "Inter", sans-serif;
  --font-display: "Syne", sans-serif;
}
